*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: black;
    color: white; 
    padding: 15px; 
}
li,h1,ul{
    display: inline;
    
}
ul{
    
    margin-left: 70%;
    
}
li{
    color: gray;
    cursor: pointer;
}
li:hover{
    color: white;
}

input{
    width: 60%;
    padding: 15px;
    
}
.Searchbar{

    padding: 50px;
    text-align: center ;
}

.box{
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    width: 200px;
    display:inline-block;
}

.box:hover{
    background-color: black;
    color: white;
}

.Products{
    text-align: center;
}

.About{
    text-align: center;
    margin: 30px;
    padding: 20px;
}

.Contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
    cursor: pointer;
}


